<h1>FreeCodeCamp URL Shortener Microservice</h1>

<h3>Instructions:</h3>
<p>Add a new url as a parameter like so: <code>https://guarded-mountain-81492.herokuapp.com/https://www.gmail.com</code></p>
<p>When you have finished entering a url, you will receive a json object that looks like this: <code>{originalUrl: https://www.gmail.com, short_url:https://guarded-mountain-81492.herokuapp.com/33}</code></p>
<p>If you point the browser to the shortened url in a tab you will be redirected to the original url, which in this example is <code>https://www.gmail.com</code></p>
